@model TP2.ViewModels.NewArtisteVM
@{
    ViewData["Title"] = "Create";
    var titre = "AJOUTER UN ARTISTE";
    if (Model.Artiste.Id != 0)
    {
        //Edit
        titre = "MODIFIER LES DONNÉES DE L'ARTISTE";
    }
}
<main class="container">
    <div class="container-fluid">
        <div class="row justify-content-around text-center">
            <div class="col col-lg-10 col-xl-9">
                <h1 class="h0">@titre</h1>
                <div class="divider-2 mb-3 "></div><!--devider linear gradient cian-->
                <br>
                <!--Form ajouter artiste-->
                <form asp-controller="Artiste" asp-action="Upsert" method="post" class="text-start p1">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Artiste.Id" />
                    <!--Vedtte switch-->
                    <div class="row justify-content-center ">
                        <div class="col col-md-8 col-lg-7 col-xl-6 mb-3">
                            <div class="form-check form-switch form-check-reverse">
                                <label class="form-check-label" asp-for="Artiste.EstVedette"> </label>
                                <input class="form-check-input" type="checkbox" role="switch" asp-for="Artiste.EstVedette" value=true checked>
                                <span asp-validation-for="Artiste.EstVedette" class="text-danger"></span>

                            </div>
                        </div>
                    </div>

                    <!--Nom Artiste-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6 ">
                            <label asp-for="Artiste.Nom" class="form-label"></label>
                            <input type="text" class="form-control" asp-for="Artiste.Nom" placeholder="Exemple: Eminem">
                            <span asp-validation-for="Artiste.Nom" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Pays Artiste-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6 ">
                            <label asp-for="Artiste.Pays" class="form-label"></label>
                            <input type="text" class="form-control" asp-for="Artiste.Pays" placeholder="Exemple: Canada">
                            <span asp-validation-for="Artiste.Pays" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Agent-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6 ">
                            <label asp-for="Artiste.Agent" class="form-label"></label>
                            <input type="text" class="form-control" asp-for="Artiste.Agent" placeholder="Exemple: Cristi Ochiu">
                            <span asp-validation-for="Artiste.Agent" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Date de début de la carrière-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6 ">
                            <label asp-for="Artiste.DebutCarrier" class="form-label"></label>
                            <input type="date" class="form-control" asp-for="Artiste.DebutCarrier">
                            <span asp-validation-for="Artiste.DebutCarrier" class="text-danger"></span>

                        </div>
                    </div>

                    <!--Nombre de chansons-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6">
                            <label asp-for="Artiste.NbChansons" class="form-label"></label>
                            <input type="number" class="form-control" asp-for="Artiste.NbChansons" min="0" placeholder="0">
                            <span asp-validation-for="Artiste.NbChansons" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Biographie-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6">
                            <div class="mb-3">
                                <label asp-for="Artiste.Biographie" class="form-label"></label>
                                <textarea class="form-control summernote " asp-for="Artiste.Biographie" rows="3" placeholder="Exemple: Saisir la biographie de l'artiste"></textarea>
                                <span asp-validation-for="Artiste.Biographie" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!--Nom ImgUrl-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6 ">
                            <label asp-for="Artiste.ImageURL" class="form-label"></label>
                            <input type="text" class="form-control" asp-for="Artiste.ImageURL" placeholder="Exemple: Eminem.jpg">
                            <span asp-validation-for="Artiste.ImageURL" class="text-danger"></span>

                        </div>
                    </div>

                    <!--Genres de musique-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6">
                            <label asp-for="Artiste.IdGenreMusical" class="form-label"></label>
                            <select class="form-select" asp-for="Artiste.IdGenreMusical" aria-label="Genre de musique" asp-items="@Model.GenresSelectList">
                                <option selected value="">Choisissez parmi les options proposées</option>
                                @*<option value="POP">POP</option>
                                <option value="HIP-HOP">Hip-Hop</option>
                                <option value="ÉLECTRO">Électro</option>*@

                            </select>
                            @*<span asp-validation-for="GenreMusical" class="text-danger"></span>*@
                            <span asp-validation-for="Artiste.IdGenreMusical" class="text-danger"></span>
                        </div>

                    </div>



                    <div class="row justify-content-center text-center">
                        @if (Model.Artiste.Id == 0)
                        {
                            <div class="col col-md-8 col-xl-6 mb-2 mt-4">
                                <button type="submit" class="btn-rechercher">
                                    Ajouter l'artiste
                                    <i class="fa-solid fa-user-plus"></i>
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="col col-md-8 col-xl-6 mb-2 mt-4">
                                <button type="submit" class="btn-rechercher">
                                    Modifier l'artiste
                                    <i class="fa-solid fa-user-plus"></i>
                                </button>
                            </div>
                        }

                    </div>
                    <div class="row justify-content-center text-center">
                        <div class="col col-md-8 col-xl-6 my-2">
                            <button type="reset" class="btn-reinitialiser">
                                Réinitialiser <i class="fa-solid fa-arrow-rotate-left"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row justify-content-center text-center">
                        <div class="col col-md-8 col-xl-6 my-2 ">
                            <a class="p1 " href="/Artiste/Recherche">
                                <i class="fa-solid fa-chevron-left"></i>
                                Retour au catalogue 
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () { $('.summernote').summernote({
                toolbar: [

                    ['Menu', ['style', 'bold', 'italic', 'underline', 
                    'clear', 'fontname', 'fontsize', 'color', 'ul', 'ol', 
                    'paragraph', 'link', 'picture', 'video', 'fullscreen', 'codeview', 'help']],
                   
                ],
                
                styleTags: ['p','pre', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'],
                fontNames: ['Montserrat', 'Arial', 'Courier New'],
                height: 130,
                minHeight: 65,
                maxHeight: 400,
                placeholder: "Saisir la biographie de l\'artiste",
                callbacks: {
                    onInit: function () {
                        var editor = elem.next(),
                            placeholder = editor.find(".note-placeholder");

                        function isEditorEmpty() {
                            var code = elem.summernote("code");
                            return code === "<p><br></p>" || code === "";
                        }

                        editor.on("focusin focusout", ".note-editable", function (e) {
                            if (isEditorEmpty()) {
                                placeholder[e.type === "focusout" ? "show" : "hide"]();
                            }
                        });
                    }
                }
            }),
            $('.summernote').summernote('fontName','Montserrat')
           
        });
    </script>

}