
<div class="row justify-content-center text-center">
    <div class="col col-md-8 col-xl-6 mb-2 mt-4">
        <button type="submit" class="btn-rechercher">
            <span id="btntextUpsert">
                @ViewData["Title"]
            </span>
            <i class="fa-solid fa-user-plus"></i>
        </button>
    </div>
</div>
<div class="row justify-content-center text-center">
    <div class="col col-md-8 col-xl-6 my-2">
        <button type="reset" class="btn-reinitialiser">
            @Locals["Reset"]
            <i class="fa-solid fa-arrow-rotate-left"></i>
        </button>
    </div>
</div>
<div class="row justify-content-center text-center">
    <div class="col col-md-8 col-xl-6 my-2 ">
        <a class="p1 " asp-action="Index">
            <i class="fa-solid fa-chevron-left"></i>
            Retour à la liste
        </a>
    </div>
</div>
