<div class="row justify-content-center text-center">
    <div class="col col-md-8 col-xl-6 mb-4 mt-4">
        <button type="submit" class="btn-rechercher px-4">
            Supprimer
            <i class="fa-solid fa-trash ms-2"></i>
        </button>
    </div>
</div>
<div class="row justify-content-center text-center">
    <div class="col col-md-8 col-xl-6 mb-4">
        <a asp-controller="Artiste" asp-action="Recherche" class="btn-reinitialiser mt-1">
            Retour au catalogue  <i class="fa-solid fa-magnifying-glass fa-sm"></i>
        </a>
    </div>
</div>