@*DropDown Listes*@
<li class="btn-group">
    <a class="header-ajouter btn-ajouter-artistes " data-bs-toggle="dropdown" aria-expanded="false">
        Lists
        <i class="fa-solid fa-square-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="p1 btn-menu" asp-controller="Home" asp-action="Dashboard">Dashboard&nbsp;<i class="fa-solid fa-chart-pie"></i></a></li>
        <li><a class="p1 btn-menu" asp-controller="Artiste" asp-action="Recherche">Artiste&nbsp;<i class="fa-solid fa-users-line"></i></a></li>
        <li><a class="p1 btn-menu" asp-controller="Agents" asp-action="Index">Agent&nbsp; <i class="fa-solid fa-users-between-lines"></i></a></li>
        <li><a class="p1 btn-menu" asp-controller="Concerts" asp-action="Index">Concert&nbsp; <i class="fa-solid fa-guitar"></i></a></li>
        <li><a class="p1 btn-menu" asp-controller="Home" asp-action="Index">Genre Musical&nbsp; <i class="fa-solid fa-microphone-lines"></i></a></li>

    </ul>
</li>
@*DropDown Ajouter*@
<li class="btn-group">
    <a class="header-ajouter btn-ajouter-artistes " data-bs-toggle="dropdown" aria-expanded="false">
        Ajouter
        <i class="fa-solid fa-square-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="p1 btn-menu" asp-controller="Artiste" asp-action="Upsert">Artiste&nbsp; <i class="fa-solid fa-user-plus"></i></a></li>
        <li><a class="p1 btn-menu" asp-controller="Agents" asp-action="Create">Agent&nbsp; <i class="fa-solid fa-user-tie"></i></a></li>
        <li><a class="p1 btn-menu" asp-controller="Concerts" asp-action="Create">Concert&nbsp; <i class="fa-regular fa-calendar-plus"></i></a></li>
        <li><a class="p1 btn-menu" asp-controller="GenreMusical" asp-action="Upsert">Genre Musical&nbsp; <i class="fa-solid fa-folder-plus"></i></a></li>
    </ul>
</li>