@*Menu disponible pour les utilisateurs non connectés*@
<li class="nav-item ">
    <a class="header-text btn-menu" asp-controller="Favoris" asp-action="Favoris">
        FAVORIS
    </a>
</li>
<li class="nav-item ">
    <a class="header-text btn-menu" asp-controller="Artiste" asp-action="Recherche">
        ARTISTES
    </a>
</li>
<li class="nav-item ">
    <a class="header-text btn-menu" asp-controller="Concerts" asp-action="Index">
        CONCERTS
    </a>
</li>