@model TP_FusionVox.Models.Concert

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Concert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group p1">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group p1">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group p1">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group p1">
                <label asp-for="DateConcert" class="control-label"></label>
                <input asp-for="DateConcert" class="form-control" />
                <span asp-validation-for="DateConcert" class="text-danger"></span>
            </div>
            <div class="form-group p1">
                <label asp-for="Pays" class="control-label"></label>
                <input asp-for="Pays" class="form-control" />
                <span asp-validation-for="Pays" class="text-danger"></span>
            </div>
            <div class="form-group p1">
                <label asp-for="Ville" class="control-label"></label>
                <input asp-for="Ville" class="form-control" />
                <span asp-validation-for="Ville" class="text-danger"></span>
            </div>
            <div class="form-group p1">
                <label asp-for="Scene" class="control-label"></label>
                <input asp-for="Scene" class="form-control" />
                <span asp-validation-for="Scene" class="text-danger"></span>
            </div>
            <div class="form-group p1">
                <label asp-for="NbTotalBillets" class="control-label"></label>
                <input asp-for="NbTotalBillets" class="form-control" />
                <span asp-validation-for="NbTotalBillets" class="text-danger"></span>
            </div>

            <div class="form-group p1">
                <label asp-for="PrixBillet" class="control-label"></label>
                <input asp-for=" PrixBillet" class="form-control" />
                <span asp-validation-for="PrixBillet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}