
<div class="row align-items-center justify-content-center">
    <!--accordeon-->
    <div class="col-lg-10">
        <div class="ps-lg-6 ps-xl-10 w-lg-90">
            <div class="mb-4">
                <div class="main-title title-left p1">Info<span class="line-left"></span></div>
                <h2 class="w-90">POLITIQUE DE CONFIDENTIALITÉ </h2>
            </div>
            <p class="mb-4 p1">
                La présente politique de confidentialité définit la base sur laquelle nous traitons les informations (qui peuvent inclure des données à caractère personnel, telles que définies dans la législation sur la protection des données) que nous recueillons auprès de vous ou que vous nous fournissez par l'intermédiaire de ce site web, de cette application ou de ce service (le "Site"). Veuillez lire attentivement ce qui suit pour comprendre nos pratiques concernant vos informations et la manière dont nous les traiterons. Veuillez cliquer sur les sections ci-dessous pour en savoir plus sur notre politique de confidentialité :

                Veuillez cliquer sur les sections ci-dessous pour en savoir plus sur notre politique de confidentialité :
            </p>
            <div id="accordion" class="accordion-style">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">QUI SOMMES-NOUS ? </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
                        <div class="card-body position-relative p1">
                            Ce site est exploité par FusionVox Records, situé au 945 Ch. de Chambly, Longueuil, QC, J4H 3M6. FusionVox Records est un contrôleur de données responsable du traitement des données personnelles en vertu de la législation applicable en matière de protection des données. Les références à "FusionVox Records" ou "nous" dans la présente politique de confidentialité renvoient à FusionVox Records.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">CONTACT </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                        <div class="card-body position-relative p1">
                            Les questions, commentaires et demandes concernant cette politique de confidentialité sont les bienvenus en cliquant ici, ou par courrier à l'adresse suivante : privacy@fusionvox.ca
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">LES INFORMATIONS QUE NOUS POUVONS RECUEILLIR AUPRÈS DE VOUS</button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                        <div class="card-body position-relative p1">
                            Lorsque vous utilisez le site ou que vous nous contactez par e-mail, par les médias sociaux, par SMS, par téléphone ou par d'autres méthodes, nous pouvons collecter et traiter les données suivantes vous concernant :
                             Les informations que vous nous communiquez, y compris :
                             <ul>
                                <li> les formulaires que vous remplissez sur le site ;</li>
                                <li> Le contenu de la correspondance avec nous par téléphone, e-mail ou autre ;</li>
                                <li> Enregistrement du site ;</li>
                                <li> les abonnements ou les commandes passées sur le site ;</li>
                                <li> la participation à des forums de discussion ou à d'autres fonctions de médias sociaux sur le site ;</li>
                                <li> Participer à un concours, une promotion ou une enquête ;</li>
                                <li> Le cas échéant, curriculum vitae, antécédents professionnels, CV ou autres informations relatives à la demande d'emploi ;</li>
                                <li> Signaler un problème ou demander de l'aide pour le site.</li>
                                <li> Les informations que vous nous communiquez peuvent inclure votre nom, votre adresse, votre adresse électronique et votre numéro de téléphone, votre date de naissance, vos informations de paiement, votre description personnelle, vos photographies ou images ou vos commentaires.</li>
                                <li> Les informations que nous recueillons à votre sujet.</li>
                                 Lors de chacune de vos visites sur notre site, nous pouvons collecter automatiquement les informations suivantes :
                                <li> Informations techniques, y compris l'adresse IP, les informations de connexion, le type et la version du navigateur, le fuseau horaire, les types et versions des plug-ins du navigateur, le système d'exploitation et la plate-forme ;</li>
                                <li> Des informations sur votre visite, y compris le parcours complet de l'URL vers, à travers et à partir de notre site (y compris la date et l'heure) ;</li>
                                <li> les pages que vous avez consultées ou recherchées, les temps de réponse des pages, les erreurs de téléchargement, la durée des visites sur certaines pages, les informations relatives à l'interaction avec les pages (telles que le défilement, les clics et les passages de souris) et les méthodes utilisées pour quitter la page.</li>
                                <li> Nous pouvons également collecter des informations sur vos appareils (y compris les téléphones, les ordinateurs ou d'autres appareils) lorsque vous accédez à nos sites et les visitez. Ces informations peuvent inclure des identifiants d'appareils uniques et des informations sur les réseaux mobiles (y compris le numéro de téléphone), l'adresse IP, la langue et le fuseau horaire, le système d'exploitation, la version du matériel, l'emplacement des appareils (y compris des emplacements géographiques spécifiques, par exemple par le biais de signaux GPS, Bluetooth ou Wi-Fi).</li>
                             </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                LES INFORMATIONS QUE NOUS RECUEILLONS AUPRÈS D'AUTRES SOURCES
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordion">
                        <div class="card-body position-relative p1">
                            Nous travaillons également avec des tiers (y compris, par exemple, des partenaires commerciaux, des sous-traitants pour les services techniques, de paiement et de livraison, des réseaux publicitaires, des fournisseurs d'analyses, des réseaux sociaux tels que Facebook et Twitter, des fournisseurs d'informations de recherche, des agences de référence de crédit, des tiers qui permettent la fonctionnalité de connexion et l'intégration de réseaux sociaux) et pouvons recevoir des informations vous concernant de leur part.
                            Si vous choisissez d'utiliser des fonctionnalités de ce site ou d'autres sites web de FusionVox Records qui se connectent à vos profils, comptes ou services en ligne (y compris les comptes de médias sociaux) ("comptes connectés"), nous pouvons collecter toute information que vous autorisez par le biais de vos paramètres sur ces comptes connectés. Par exemple, si vous vous connectez à notre site en utilisant votre compte Facebook et que vous choisissez d'autoriser Facebook à partager votre profil avec nous, nous pouvons collecter ces informations. Les informations que nous recevons des comptes connectés comprennent l'adresse électronique, le nom et le prénom, la localisation (ville natale et pays), le sexe, la date de naissance, les mentions "j'aime", les messages ou toute autre activité sociale. Si vous postulez à un emploi chez FusionVox Records, nous pouvons utiliser les informations que vous fournissez pour communiquer avec des tiers au sujet de votre candidature dans la mesure où la loi l'autorise, y compris pour vérifier vos qualifications, vos antécédents professionnels, vos références, effectuer des vérifications d'antécédents ou à d'autres fins liées à la candidature à un emploi.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">COMMENT VOS INFORMATIONS PEUVENT ÊTRE UTILISÉES </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-bs-parent="#accordion">
                        <div class="card-body position-relative p1">
                            Nous pouvons utiliser les informations détenues à votre sujet de la manière suivante :
                            <ul>
                            <li>Pour nous aider à répondre à vos questions ;</li>
                            <li> Vous fournir des informations sur les artistes signés chez FusionVox Records ;
                            <li> Pour vous fournir, ou permettre à des tiers sélectionnés de vous fournir, des informations sur d'autres biens et services que nous proposons et qui sont similaires à ceux que vous avez déjà achetés ou sur lesquels vous vous êtes renseigné, ou que nous pensons susceptibles de vous intéresser ;</li>
                            <li> vous faire des suggestions et des recommandations, ainsi qu'à d'autres utilisateurs de notre site, sur des biens ou des services susceptibles de vous intéresser ou de les intéresser ;</li>
                            <li> Fournir ou permettre à des tiers de fournir de la publicité ciblée via les sites web que vous visitez, concernant des biens ou des services susceptibles de vous intéresser ;</li>
                            <li> Pour mesurer ou comprendre l'efficacité de la publicité que nous diffusons à vous et à d'autres personnes, et pour vous proposer des publicités pertinentes ;</li>
                            <li> Pour suivre l'évolution et le nombre de participations à des concours et à des promotions.</li>
                            <li> Pour vous permettre d'interagir avec notre site, par exemple en publiant des commentaires ou en partageant des informations de notre site sur des plateformes de médias sociaux tiers ;</li>
                            <li> Pour exécuter nos obligations découlant de tout contrat conclu entre vous et nous et pour vous fournir les informations, les produits et les services que vous nous demandez ;</li>
                            <li> Pour gérer votre accès aux services ou vous informer des changements apportés aux services ;</li>
                            <li> Pour se conformer aux exigences légales et réglementaires ; pour administrer notre site et pour les opérations internes, y compris le dépannage, l'analyse des données, les tests, la recherche, les statistiques et les enquêtes ;</li>
                            <li> Améliorer notre site afin de garantir que le contenu est présenté de la manière la plus efficace pour vous et pour votre ordinateur ;</li>
                            <li> Dans le cadre de nos efforts pour assurer la sécurité de notre site ;</li>
                            <li> Si vous avez postulé pour un emploi chez FusionVox Records, pour examiner, vérifier et évaluer les informations relatives à votre candidature.</li>
                            </ul>
                                Nous pouvons combiner les informations que nous recevons d'autres sources avec celles que vous nous fournissez et celles que nous recueillons à votre sujet (y compris les informations relatives à vos appareils). Nous pouvons utiliser ces informations combinées aux fins décrites ci-dessus.
                           
                            
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">DIVULGATION DE VOS INFORMATIONS</button>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-bs-parent="#accordion">
                        <div class="card-body position-relative p1">
                            Nous pouvons partager vos données personnelles avec des tiers sélectionnés, y compris :
                            <ul>
                                <li> les partenaires commerciaux, les fournisseurs et les sous-traitants pour l'exécution de tout contrat que nous concluons avec eux ou avec vous afin de vous fournir un produit ou un service ;</li>
                                <li> Partenaires commerciaux, fournisseurs et sous-traitants pour vous fournir des informations sur les promotions et les offres ;</li>
                                <li> Artistes pertinents signés par FusionVox Records et/ou leurs représentants ;</li>
                                <li> Les annonceurs, les réseaux publicitaires et les réseaux sociaux qui ont besoin de ces données pour sélectionner et diffuser des publicités pertinentes pour vous et d'autres personnes ;</li>
                                <li> Les fournisseurs de services d'analyse et de moteurs de recherche qui nous aident à améliorer et à optimiser notre site ;</li>
                                <li> des tiers lorsque vous consentez à un tel partage ou que vous en faites la demande.</li>
                            </ul>
                            Nous pouvons divulguer vos données personnelles à des tiers :
                            <ul>
                                <li> Dans le cas où nous vendrions ou achèterions une entreprise ou des actifs, nous pourrions divulguer vos données à caractère personnel au vendeur ou à l'acheteur potentiel de cette entreprise ou de ces actifs ;</li>
                                <li> Si FusionVox Records ou la quasi-totalité de ses actifs sont acquis par un tiers, auquel cas les données personnelles qu'il détient sur ses clients feront partie des actifs transférés ;</li>
                                <li> Si nous sommes dans l'obligation de divulguer ou de partager vos données personnelles afin de nous conformer à une obligation légale, ou afin de faire respecter ou d'appliquer nos conditions d'utilisation et d'autres accords ; ou pour protéger les droits, la propriété ou la sécurité de FusionVox Records, de nos clients ou d'autres personnes. Cela inclut l'échange d'informations avec d'autres sociétés et organisations à des fins de protection contre la fraude et de réduction du risque de crédit ;</li>
                                <li> à tout autre tiers lorsque la loi le permet.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingEight">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">STOCKAGE ET TRANSFERT DES DONNÉES</button>
                        </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-bs-parent="#accordion">
                        <div class="card-body position-relative p1">
                            Toutes les informations que vous fournissez peuvent être traitées, stockées, transférées ou consultées par des entités du monde entier, comme décrit dans la présente politique. Nous prendrons des mesures pour garantir que vos données sont traitées en toute sécurité et conformément à la présente politique de confidentialité. Nous avons mis en place des procédures techniques et organisationnelles conçues pour protéger les informations que nous recueillons sur ce site.
                            Malheureusement, la transmission d'informations via l'internet n'est pas totalement sûre. Bien que nous fassions de notre mieux pour protéger vos données personnelles, nous ne pouvons pas garantir la sécurité de vos données transmises à notre site ; toute transmission se fait à vos propres risques.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingNine">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">COOKIES</button>
                        </h5>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-bs-parent="#accordion">
                        <div class="card-body position-relative p1">
                            Notre site utilise des cookies et d'autres technologies de suivi pour vous distinguer des autres utilisateurs de notre site. Cela nous aide à vous offrir une bonne expérience lorsque vous naviguez sur notre site et nous permet également d'améliorer notre site. Pour des informations détaillées sur les cookies et autres technologies que nous utilisons et sur les raisons pour lesquelles nous les utilisons, veuillez vous référer à notre Politique en matière de cookies ci-dessous. ....
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--accordeon-->
</div>