@model GenreMusical
@{
    ViewData["Title"] = "Ajouter";//Il est également utilisé pour le texte des boutons
    var titre = "AJOUTER UN NOUVEAU GENRE MUSICAL";
    if (Model.Id != 0)
    {
        //Edit
        ViewData["Title"] = "Modifier";//Il est également utilisé pour le texte des boutons
        titre = "MODIFIER LE GENRE DE MUSIQUE";
    }
}
<main class="container">
    <div class="container-fluid">
        <div class="row justify-content-around text-center">
            <div class="col col-lg-10 col-xl-9">
                <h1 class="h0">@titre</h1>
                <div class="divider-2 mb-3 "></div><!--devider linear gradient cian-->
                <br>
                <!--Form ajouter Genres de Musique-->
                <form asp-controller="Home" asp-action="Upsert" method="post" class="text-start p1">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <!--Nom Genre Musical-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6 ">
                            <label asp-for="Nom" class="form-label"></label>
                            <input type="text" class="form-control" asp-for="Nom" placeholder="Exemple: Hip-Hop">
                            <span asp-validation-for="Nom" class="text-danger"></span>
                        </div>
                    </div>
                    <!--Description-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6">
                            <div class="mb-3">
                                <label asp-for="Description" class="form-label"></label>
                                <textarea class="form-control summernote" asp-for="Description" rows="3" placeholder="Exemple: Saisir la description du genre musical"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!--ImgUrl-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6 ">
                            <label asp-for="ImageUrl" class="form-label"></label>
                            <input type="text" class="form-control" asp-for="ImageUrl" placeholder="Exemple: Hip_Hop.png">
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>

                        </div>
                    </div>
                    <partial name="_CreateEditReinitBackCatalogueButtonPartielle" model="Model.Id" />
                </form>
            </div>
        </div>
    </div>
</main>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                toolbar: [

                    ['Menu', ['style', 'bold', 'italic', 'underline',
                        'clear', 'fontname', 'fontsize', 'color', 'ul', 'ol',
                        'paragraph', 'link', 'picture', 'video', 'fullscreen', 'codeview', 'help']],

                ],

                styleTags: ['p', 'pre', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'],
                fontNames: ['Montserrat', 'Arial', 'Courier New'],
                height: 130,
                minHeight: 65,
                maxHeight: 400,
                placeholder: "Saisir la description du genre musical",
                callbacks: {
                    onInit: function () {
                        var editor = elem.next(),
                            placeholder = editor.find(".note-placeholder");

                        function isEditorEmpty() {
                            var code = elem.summernote("code");
                            return code === "<p><br></p>" || code === "";
                        }

                        editor.on("focusin focusout", ".note-editable", function (e) {
                            if (isEditorEmpty()) {
                                placeholder[e.type === "focusout" ? "show" : "hide"]();
                            }
                        });
                    }
                }
            })
        });
    </script>
}
